*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  background-color: #fafafa;
  font-family: "Nunito", sans-serif; }

a {
  text-decoration: none;
  color: #080808; }

.main-container {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto; }

body {
  font-family: 'Nunito', sans-serif; }

.primary-title {
  font-size: 6rem;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  margin: 8rem auto 4rem;
  border-bottom: 1px solid #c8c8c8;
  width: fit-content; }
  .primary-title--white {
    color: #fafafa; }

.secondary-title {
  font-size: 4rem;
  font-weight: 300;
  margin: 6rem auto 4rem;
  border-bottom: 1px solid #c8c8c8;
  width: fit-content; }

.tertiary-title {
  font-size: 2.4rem;
  margin: 1.5rem 0 .8rem; }
  .tertiary-title--white {
    color: #fafafa; }

.quaternary-title {
  font-size: 3rem;
  font-family: 'Reggae one'; }
  .quaternary-title--white {
    color: #fafafa; }

.fine-print {
  color: #080808;
  font-size: 1.4rem; }
  .fine-print--white {
    font-size: 1.4rem;
    color: #fafafa; }

.miniscule-text {
  font-size: 1.2rem; }

.item-price {
  font-size: 2.4rem;
  color: #080808;
  padding: 10px 0 15px; }
  .item-price__amount {
    font-size: 3rem; }

.nav-link {
  color: #080808;
  font-size: 1.6rem;
  transition: all 200ms; }

.nav-link:hover {
  color: red; }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.u-flex-btwn {
  display: flex;
  justify-content: space-between; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-bold {
  font-weight: 700; }

.u-text-italicize {
  font-style: italic; }

.u-mt-5 {
  margin-top: 5px; }

.u-mt-10 {
  margin-top: 10px; }

.u-mt-40 {
  margin-top: 40px; }

@keyframes moveInRight {
  0% {
    transform: translateX(-50px); }
  60% { }
  100% {
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(50px); }
  60% { }
  100% {
    transform: translateX(0); } }

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  30% {
    opacity: 0.3;
    transform: translateY(6); }
  60% {
    opacity: 0.6;
    transform: translateY(3px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes expand {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes scaleDown {
  0% {
    transform: scaleY(0);
    opacity: 0; }
  25% {
    transform: scaleY(0.35);
    opacity: 0.35; }
  50% {
    transform: scaleY(0.75);
    opacity: 0.75; }
  75% {
    transform: scaleY(1.1);
    opacity: 1; }
  100% {
    transform: scaleY(1); } }

@keyframes openSidebarMenu {
  from {
    left: -100vw;
    opacity: 0.25; }
  to {
    left: 0;
    opacity: 1; } }

@keyframes closeSidebarMenu {
  from {
    left: 0px;
    opacity: 1; }
  to {
    left: -100vw;
    opacity: 0; } }

@keyframes openSidebarCart {
  from {
    right: -100vw;
    opacity: 0.25; }
  to {
    right: 0px;
    opacity: 1; } }

@keyframes closeSidebarCart {
  from {
    right: 0px;
    opacity: 1; }
  to {
    right: -100vw;
    opacity: 0; } }

.btn {
  cursor: pointer;
  transition: all 200ms;
  border: none; }
  .btn--menu {
    border: none; }
    .btn--menu:hover {
      border-bottom: 1px solid rgba(131, 24, 24, 0.931); }
  .btn--add-to-cart {
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.979);
    border: 1px solid #080808;
    border-radius: 4px;
    padding: 8px 10px; }
    .btn--add-to-cart:hover {
      color: #fafafa;
      background-color: #080808; }
  .btn--add-custom-to-cart {
    background-color: #df3939;
    color: #fafafa;
    font-size: 2rem;
    padding: 15px 25px;
    border-radius: 10px; }
    .btn--add-custom-to-cart:hover {
      background-color: rgba(223, 57, 57, 0.8); }
  .btn--cancel {
    background-color: inherit;
    color: #c8c8c8;
    padding: 4px;
    border-radius: 4px;
    border: none;
    font-size: 1.6rem;
    float: right; }
    .btn--cancel:hover {
      color: #a0a0a0; }
  .btn--checkout-remove {
    background-color: inherit;
    font-size: 1.6rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.198);
    padding: 0 10px;
    background: linear-gradient(to left, #fafafa 50%, rgba(131, 24, 24, 0.931) 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
    grid-row: 1 / -1;
    grid-column: 6 / 7; }
    @media (max-width: 600px) {
      .btn--checkout-remove {
        font-size: 1.4rem;
        padding: 0 2px;
        margin: 0; } }
    .btn--checkout-remove:hover {
      background-position: left;
      color: #fafafa; }
  .btn--toppings {
    border: none;
    height: 80px;
    width: 100px;
    border-radius: 4px;
    font-size: 2rem;
    background-color: rgba(255, 0, 0, 0.082); }
    .btn--toppings:hover {
      background-color: rgba(255, 0, 0, 0.335); }
    .btn--toppings--active {
      background-color: rgba(255, 0, 0, 0.335); }
  .btn__checkout {
    display: inline-block;
    margin: 0 auto;
    background-color: #df3939;
    color: #fafafa;
    font-size: 1.4rem;
    border-radius: 2px;
    padding: 10px 12px; }
    .btn__checkout:hover {
      background-color: rgba(223, 57, 57, 0.8); }
  .btn--order-now {
    display: block;
    max-width: fit-content;
    color: #080808;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem auto;
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2); }
    .btn--order-now:hover {
      transform: translateY(-1px);
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
  .btn--apply {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.6rem;
    background-color: gainsboro;
    border-radius: 8px;
    padding: 8px; }
    .btn--apply:hover {
      background-color: #c8c8c8; }
  .btn--count {
    font-size: 2rem;
    background-color: #fafafa; }
    .btn--count:hover {
      transform: scale(1.15); }
  .btn--disabled {
    background-color: #b4b4b4 !important; }
    .btn--disabled:hover {
      cursor: not-allowed !important;
      background-color: #b4b4b4 !important; }

.btn-link {
  color: #080808;
  padding: 12px 18px;
  border-radius: 4px;
  transition: all 200ms;
  box-shadow: 7px 5px 6px rgba(0, 0, 0, 0.2);
  text-align: center; }
  .btn-link:hover {
    transform: translateY(-1px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-link--red {
    font-size: 2rem;
    color: #fafafa;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgba(131, 24, 24, 0.931); }
  .btn-link--customize {
    font-size: 1.6rem;
    text-decoration: underline; }

.active {
  border-bottom: 1px solid rgba(131, 24, 24, 0.931); }

.btn-link--place-order {
  color: #fafafa;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #ac3030;
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 4px; }
  .btn-link--place-order:hover {
    background-color: rgba(131, 24, 24, 0.931); }

.sidebar__nav-link {
  color: #fafafa;
  justify-self: start;
  padding: 5px; }

.sidebar__menu-item {
  color: #fafafa; }

.sidebar--active {
  border: 1px #fafafa solid; }

.cart {
  width: 200px;
  background-color: #fafafa;
  border: 1px solid rgba(128, 128, 128, 0.376);
  border-radius: 5px;
  list-style: none;
  font-family: "Nunito", sans-serif;
  display: none;
  animation: scaleDown 300ms ease-in forwards;
  transform-origin: top center;
  list-style: none;
  position: absolute;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin-top: 40px; }
  @media (max-width: 735px) {
    .cart {
      display: none !important;
      width: max-content; } }
  .cart__title {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding: 5px 0 10px; }
  .cart__order-type {
    display: block;
    font-size: 1.4rem;
    margin: 10px 0 20px 15px;
    text-align: left;
    text-transform: capitalize; }
  .cart__ul {
    width: 90%;
    margin: 0 auto;
    max-height: 350px;
    overflow-y: scroll; }
  .cart ul > li {
    list-style: none;
    font-size: 1.4rem; }
  .cart__item {
    border-bottom: 1px solid rgba(56, 56, 56, 0.376);
    margin-bottom: 10px;
    list-style: none; }
    .cart__item-amount {
      margin-bottom: 12px; }
    .cart__item-title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 10px;
      list-style: none; }
    .cart__item-size {
      font-style: italic;
      margin-bottom: 2px; }
    .cart__item-crust {
      margin-bottom: 2px;
      font-style: italic; }
    .cart__item-toppings {
      display: flex;
      flex-direction: column; }
      .cart__item-toppings > ul {
        font-size: 1.6rem;
        margin: 10px 0;
        list-style: none; }
    .cart__item-price {
      font-weight: 800;
      font-size: 1.6rem; }
  .cart__total-box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-size: 1.4rem; }
    .cart__total-box p {
      padding: 5px;
      border-radius: 2px; }
      .cart__total-box p:nth-child(3), .cart__total-box p:nth-child(4) {
        background-color: #f0f0f0; }
  .cart__checkout-box {
    text-align: center;
    margin: 20px 0 10px; }

.card {
  padding: 5px 2rem;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.979); }
  .card__more-info {
    font-size: 1.4rem;
    text-decoration: underline;
    margin: 4px 0; }
    .card__more-info:hover {
      cursor: pointer; }
  .card__select {
    width: 80%;
    margin: 5px auto;
    padding: 8px;
    font-size: 1.6rem;
    border: 1px solid #485ba3;
    border-radius: 5px;
    border: 1px rgba(131, 24, 24, 0.931) solid; }
    .card__select :focus {
      border: 1px #49abbd solid; }
  .card__input {
    display: inline;
    width: 35px;
    height: 30px;
    font-size: 2rem;
    margin-left: 4px; }
  .card--deals {
    padding: 0 10px; }
    .card--deals ul {
      margin-left: 10px; }
      .card--deals ul > li {
        margin-top: 8px;
        color: #fafafa;
        font-size: small;
        list-style: inside;
        text-align: left; }

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px; }
  .img--small {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 4px; }
  .img--thumbnail {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 4px; }
    @media (min-width: 900px) {
      .img--thumbnail {
        width: 100px;
        height: 100px; } }
    @media (max-width: 600px) {
      .img--thumbnail {
        width: 75px;
        height: 75px; } }
  .img--background {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-position: center; }
    .img--background__three-pizza {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../../img/deals/three-large.png"); }
    .img--background__pizza-coke {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../../img/drinks/coke.jpg"); }
    .img--background__pizza-wings {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../../img/deals/pizza&wings.jpg"); }
    .img--background__cinnamon-sticks {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../../img/sides/cinnamon-sticks.jpg"); }

.nav {
  margin: 0 auto 5px;
  width: 220px;
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
  align-self: end; }
  .nav ul > li {
    list-style: none; }
  @media (max-width: 735px) {
    .nav {
      display: none; } }
  .nav__menu {
    width: 540px;
    font-size: 1.6rem;
    margin-top: 8rem; }
    @media (max-width: 735px) {
      .nav__menu {
        display: none; } }
    .nav__menu ul > li {
      list-style: none; }

.banner {
  max-width: 1200px;
  width: 96%;
  height: 500px;
  border-radius: 4px;
  background-size: cover;
  background-position: center; }
  .banner--dual-pizza {
    margin: 10px auto 0;
    background-image: linear-gradient(to right bottom, rgba(8, 8, 8, 0.55), rgba(8, 8, 8, 0.45)), url(../../img/backgrounds/dual-pizza.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .banner--top {
    margin: 10px auto 0;
    background-image: linear-gradient(to right bottom, rgba(8, 8, 8, 0.65), rgba(8, 8, 8, 0.5)), url(../../img/backgrounds/pizza-overhead.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .banner--bottom {
    margin: 0 auto 10px;
    background-image: linear-gradient(to right bottom, rgba(8, 8, 8, 0.65), rgba(8, 8, 8, 0.5)), url(../../img/backgrounds/pizza-side.jpg);
    clip-path: polygon(100% 0, 0 20%, 0 100%, 100% 100%); }

.popup {
  max-width: 400px;
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin-top: 4px;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: center;
  display: none;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 6px;
  animation: appear 200ms ease-out; }
  .popup--success {
    background-color: #e7f8e7; }
  .popup--failure {
    background-color: #f8ecec; }
  .popup__icon {
    font-size: 44px;
    margin-right: 10px; }
    .popup__icon--success {
      color: rgba(51, 165, 31, 0.842); }
    .popup__icon--failure {
      color: #dd231c; }

.sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  z-index: 100;
  padding: 40px 10px;
  top: 1px; }
  @media (min-width: 735px) {
    .sidebar {
      display: none; } }
  .sidebar--menu {
    left: -100vw;
    border-radius: 0 5px 5px 0; }
    .sidebar--menu--open {
      animation: openSidebarMenu 400ms ease-out;
      animation-fill-mode: forwards; }
  .sidebar--cart {
    border-radius: 5px 0 0 5px;
    right: -100vw; }
    .sidebar--cart--open {
      animation: openSidebarCart 400ms ease-out;
      animation-fill-mode: forwards; }
  .sidebar__cart {
    display: none;
    width: 90%;
    margin: 0 auto; }
    .sidebar__cart-list {
      max-height: 45vh;
      font-size: 1.6rem;
      overflow-y: scroll; }
  .sidebar__nav-item {
    font-size: 3rem;
    list-style: none;
    margin-top: 20px; }
    .sidebar__nav-item:hover {
      color: honeydew; }

.header {
  width: 100%;
  height: 10rem;
  padding: 0 10px;
  border-bottom: 2px solid gainsboro;
  background-color: #fafafa;
  position: sticky;
  top: 0;
  z-index: 10; }
  .header__box {
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between; }
  .header__menu-icon {
    font-size: 3rem;
    background-color: inherit;
    align-self: center;
    height: auto;
    justify-self: center; }
    @media (min-width: 735px) {
      .header__menu-icon {
        display: none; } }
  .header__logo {
    align-self: center; }
    .header__logo h1 {
      font-size: 3rem;
      font-family: "Andada Pro", serif; }
  .header__cart-box {
    align-self: end;
    margin-bottom: 10px;
    display: grid;
    width: 200px;
    grid-column: repeat(2, 1fr); }
    .header__cart-box--active {
      animation: expand 200ms ease-out; }
    @media (max-width: 735px) {
      .header__cart-box {
        width: fit-content;
        margin-bottom: 0;
        align-self: center; } }
  .header__cart-icon {
    grid-column: 1 / -1;
    justify-self: center;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, 1fr); }
    .header__cart-icon > i {
      color: #383838;
      font-size: 3rem;
      grid-column: 1 / 2;
      grid-row: 1 / -1; }
    .header__cart-icon span {
      font-size: 1.4rem;
      color: #fafafa;
      background-color: #ac3030;
      text-align: center;
      font-weight: 600;
      border-radius: 10px;
      padding: 2px 8px;
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .header__cart-icon p {
      color: #383838;
      font-size: 1.4rem;
      text-align: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3; }

.footer {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
  .footer p:nth-child(2) {
    display: none; }

.flex-row-btwn {
  display: flex;
  justify-content: space-between; }

.flex-row-even {
  display: flex;
  justify-content: space-evenly; }

.col-23 {
  width: 23%; }

.col-25 {
  width: 25%; }

.col-32 {
  width: 32%; }

.col-40 {
  width: 40%; }

.col-50 {
  width: 50%; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
  gap: 20px;
  justify-content: center; }

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-auto-flow: auto;
  column-gap: 5px;
  row-gap: 10px;
  margin-bottom: 200px; }

@media (max-width: 778px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px 360px; } }

.address-box {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #fafafa; }

.order-btn-box {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto; }

.coupon-condition {
  grid-column: 1 / 3; }

.section-menu {
  margin-bottom: 20rem; }

.about-box {
  margin: 10rem auto;
  max-width: 900px;
  display: flex;
  justify-content: center; }
  .about-box__img {
    background-image: url("../../img/founder.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 50%;
    animation: moveInRight 500ms ease-out;
    border-radius: 8px; }
  .about-box__text-box {
    width: 50%;
    font-size: 1.6rem;
    align-self: center;
    background-color: #f0f0f0;
    padding: 31px 20px;
    line-height: 27px;
    text-indent: 24px;
    animation: moveInLeft 500ms ease-out; }
    .about-box__text-box h3 {
      padding-bottom: 5px; }

@media (max-width: 960px) {
  .about-box {
    flex-direction: column;
    margin: 5rem auto; }
    .about-box__img {
      animation: none;
      height: 360px;
      width: 100%;
      align-self: center; }
    .about-box__text-box {
      animation: none;
      width: 100%; } }

.checkout {
  margin: 80px 0;
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: minmax(400px, 680px) minmax(200px, 400px);
  column-gap: 20px; }
  @media (max-width: 900px) {
    .checkout {
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(2, min-content);
      column-gap: 0; } }

.product {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(75px, 25%)) repeat(3, 1fr) 80px;
  grid-template-rows: 50px min-content;
  grid-auto-rows: min-content; }
  @media (max-width: 900px) {
    .product {
      grid-column: 1 / -1; } }
  @media (max-width: 600px) {
    .product {
      font-size: 1.4rem;
      grid-template-columns: 75px 75px repeat(3, 1fr) 60px; } }
  .product > * {
    align-self: center; }
  .product__details {
    justify-self: center;
    grid-column: 1 / span 2; }
  .product__quantity {
    grid-column: 3 / 4;
    justify-self: center; }
  .product__price {
    grid-column: 4 / 5;
    justify-self: center; }
  .product__total {
    grid-column: 5 / 6;
    justify-self: center; }
  .product__list {
    grid-row: 2 / -1;
    grid-column: 1 / -1; }
  .product__empty {
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 300;
    list-style: none;
    margin: 40px auto;
    width: 200px; }
  .product__item {
    padding: 10px;
    margin: 15px 0;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    border-bottom: 1px rgba(128, 128, 128, 0.527) solid;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, minmax(75px, 25%)) repeat(3, 1fr) 80px;
    grid-template-rows: repeat(4, max-content);
    align-self: start; }
    @media (max-width: 900px) {
      .product__item {
        font-size: 1.4rem; } }
    @media (max-width: 600px) {
      .product__item {
        padding: 0;
        font-size: 1.4rem;
        grid-template-columns: 75px 75px repeat(3, 1fr) 60px; } }
    .product__item-img {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      justify-self: center; }
      @media (max-width: 600px) {
        .product__item-img {
          justify-self: start; } }
    .product__item-desc {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0 2px; }
    .product__item-quantity {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      justify-self: center; }
    .product__item-price {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      justify-self: center; }
    .product__item-total {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      justify-self: center; }
    .product__item-full {
      grid-column: 2 / 6;
      grid-row: 2 / 3; }
    .product__item-left {
      grid-column: 2 / 6;
      grid-row: 3 / 4;
      margin-top: 2px; }
    .product__item-right {
      grid-column: 2 / 6;
      grid-row: 4 / 5;
      margin-top: 2px; }

.summary {
  min-width: 100px;
  padding: 20px;
  grid-column: 2 / -1;
  align-self: end;
  background-color: #232422;
  border-radius: 4px; }
  @media (max-width: 900px) {
    .summary {
      grid-column: 3 / 8;
      grid-row: 2 / 3; } }
  @media (max-width: 700px) {
    .summary {
      grid-column: 2 / 9; } }
  @media (max-width: 560px) {
    .summary {
      grid-column: 1 / -1; } }
  .summary__title {
    text-align: center;
    color: #fafafa;
    font-size: 2rem;
    font-weight: 400; }
  .summary__order-type-btn-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px; }
    .summary__order-type-btn-box > button {
      font-size: 1.6rem;
      padding: 10px 8px;
      background-color: #fafafa;
      border-radius: 5px; }
      .summary__order-type-btn-box > button:hover {
        background-color: #ccd3cc; }
  .summary__info {
    margin: 40px 0;
    width: 100%;
    border-top: 1px rgba(175, 172, 172, 0.363) solid;
    color: white; }
  .summary__order-type {
    display: block;
    text-transform: capitalize;
    margin: 20px;
    text-align: center; }
  .summary__sub-total, .summary__tax {
    margin: 20px 0; }
  .summary__promo-box {
    margin-top: 30px; }
    .summary__promo-box input {
      border-radius: 4px;
      font-size: 1.6rem;
      width: 60%;
      min-width: 125px;
      height: 40px; }
  .summary__total {
    border-bottom: 1px rgba(175, 172, 172, 0.363) solid;
    border-top: 1px rgba(175, 172, 172, 0.363) solid;
    padding: 15px 0;
    margin-top: 50px;
    font-size: 2rem; }

input[type='radio'] {
  width: 20px;
  height: 40px; }

.make-container {
  display: grid;
  grid-template-columns: 70% minmax(280px, 300px);
  grid-template-rows: repeat(3, min-content);
  margin: 40px 0; }
  @media (max-width: 880px) {
    .make-container {
      grid-template-columns: 1fr; } }

@media (max-width: 880px) {
  .select-section {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 96%;
    margin: 0 auto; } }

.select-box, .size-box, .crust-box {
  display: grid;
  font-size: 1.6rem;
  grid-template-columns: 50% 50%; }

.size-box__title-box {
  justify-self: center; }

.size-box__price {
  width: min-content; }

.size-box__selectors-box {
  display: grid;
  grid-template-columns: 125px 125px;
  grid-template-rows: repeat(4, min-content);
  row-gap: 12px;
  align-items: center; }
  .size-box__selectors-box > div {
    display: flex;
    align-items: center; }
    .size-box__selectors-box > div > input {
      margin-right: 5px; }

.crust-box {
  margin-top: 50px; }
  .crust-box__title-box {
    justify-self: center; }
  .crust-box__selectors-box {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 12px; }
    .crust-box__selectors-box > div {
      display: flex;
      align-items: center; }
      .crust-box__selectors-box > div > input {
        margin-right: 5px; }

.custom {
  border: 1px solid rgba(255, 0, 0, 0.15);
  border-radius: 4px; }
  @media (max-width: 880px) {
    .custom {
      grid-column: 1 / -1;
      grid-row: 3 / 4; } }
  .custom__price {
    font-size: 2.4rem; }
  .custom__info-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; }
    .custom__info-box > * {
      margin-top: 20px; }
  .custom__count-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px; }
  .custom__count {
    font-size: 2rem;
    padding: 0 10px; }
  .custom__size {
    align-self: start;
    font-size: 1.6rem;
    margin-left: 10px; }
    @media (max-width: 880px) {
      .custom__size {
        align-self: center; } }
  .custom__crust {
    align-self: start;
    font-size: 1.6rem;
    margin-left: 10px; }
    @media (max-width: 880px) {
      .custom__crust {
        align-self: center; } }
  .custom__toppings-box {
    margin: 40px 10px; }
  .custom__topping-category {
    margin: 10px 0 5px; }
    .custom__topping-category > h4 {
      font-size: 2rem;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-style: italic; }
    .custom__topping-category > p {
      font-size: 1.4rem; }
  .custom__topping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    max-width: 60%;
    min-width: 200px;
    margin: 5px 0 0 10px; }
    @media (max-width: 880px) {
      .custom__topping {
        max-width: 100%; } }
    .custom__topping button {
      margin-left: 18px; }

.topping-select {
  grid-row: 3 / 4;
  margin-top: 30px; }
  @media (max-width: 880px) {
    .topping-select {
      grid-column: 1 / -1;
      grid-row: 2 / 3; } }
  .topping-select--veggies {
    display: none; }
  .topping-select--cheese {
    display: none; }
  .topping-select__categories {
    font-size: 24px;
    height: 80px;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.212);
    border-radius: 5px;
    padding: 20px 0;
    justify-content: center;
    align-items: center; }
    .topping-select__categories > button:not(:first-child) {
      margin-left: 20px; }
  .topping-select__topping {
    display: flex;
    font-size: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.212);
    padding: 20px 40px; }
    .topping-select__topping h4 {
      align-self: center; }
  .topping-select__select-box {
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    justify-items: center; }
