
// COLORS 
$color-soft-white: rgb(245,245,245);
$color-light-grey: rgb(220, 220, 220);
$color-dark-grey: rgb(200,200,200);
$color-soft-black: rgba(0,0,0,.9);
$color-text-primary:  rgb(8, 8, 8);

$color-light-red:  rgb(236, 57, 57);
$color-dark-red:  rgba(131, 24, 24, 0.931);

// FONT-SIZE
$font-size-default: 1.6rem;

$font-size-miniscule: 1.2rem;
$font-size-small: 1.4rem;
$font-size-small-medium: 1.8rem;
$font-size-medium: 2rem;
$font-size-medium-large: 2.4rem;
$font-size-large: 3rem;
$font-size-xlarge: 4rem;
$font-size-xxlarge: 6rem;

// FONTS

// default text
$font-Nunito: 'Nunito', sans-serif;
// titles
$font-Lato: 'Lato', sans-serif;
$font-reggae: 'Reggae One';


// MAIN CONTAINER 
$container-max-width: 1200px;
$container-width: 96%;