
.flex-row-btwn {
  display: flex;
  justify-content: space-between;
}
.flex-row-even {
  display: flex;
  justify-content: space-evenly;
}


.col-23 {
  width: 23%;
}
.col-25 {
  width: 25%;
}
.col-32 {
  width: 32%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
