
.flex-row-btwn {
  display: flex;
  justify-content: space-between;
}
.flex-row-even {
  display: flex;
  justify-content: space-evenly;
}


.col-23 {
  width: 23%;
}
.col-25 {
  width: 25%;
}
.col-32 {
  width: 32%; 
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%; 
}

// numbers designate # of items. 
// All these grid classes are only applied to food items and deals 
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 340px));
  gap: 20px;
  justify-content: center; 
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px;
  grid-auto-flow: auto;
  column-gap: 5px;
  row-gap: 10px;  
  margin-bottom: 200px;  
}

@media (max-width: 778px) { 
  .grid-4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 360px 360px;
  }
} 

