
.flex-row-btwn {
  display: flex;
  justify-content: space-between;
}
.flex-row-even {
  display: flex;
  justify-content: space-evenly;
}


.col-23 {
  width: 23%;
}
.col-25 {
  width: 25%;
}
.col-32 {
  width: 32%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%; 
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
  gap: 10px;
  justify-content: center; 
}
@media (max-width: 778px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

