.alert,
.sidebar-alert {
  display: flex;
  width: fit-content;
  padding: 8px 12px;
  margin-top: 4px;
  display: none;
  align-items: center;
  font-size: $font-size-medium;
  font-weight: 300;
  animation: appear 200ms ease-out;
  background-color: white;

  &--main {
    position: fixed;
    border-radius: 6px;
    box-shadow: 6px 6px 12px $color-light-grey;
    z-index: 100;
  }
  &--sidebar {
    margin: 0 auto;
  }
  &__box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__bar {
    height: 50px;
    width: 3px;
    border-radius: 20px;

    &--success {
      background: rgba(21, 105, 56, 0.8);
    }
    &--error {
      background: $color-red;
    }
  }
  &__icon {
    display: none;
    margin: 0 10px;
    font-size: 2.8rem;
    &--success {
      color: rgba(21, 105, 56, 0.8);
    }
    &--error {
      color: $color-red;
    }
  }
  &__cancel-btn {
    background-color: inherit;
    font-size: 1.8rem;
    color: $color-light-grey;
    margin-left: 15px;

    &:hover {
      color: $color-darkest-grey;
    }
  }
}
