.card {
  padding: 5px 2rem;
  border: 1px solid $color-dark-grey;
  border-radius: 4px;
  box-shadow: 7px 7px 10px rgba($color: #000000, $alpha: .2);

  &__more-info {
    font-size: $font-size-small;
    text-decoration: underline;
    margin: 4px 0; 

    &:hover {
      cursor: pointer;
    }
  }

  &__select {
    width: 80%;
    margin: 5px auto;
    padding: 8px;
    font-size: $font-size-default;
    border: 1px solid rgb(72, 91, 163);
    border-radius: 5px;
  }

  &__input { 
    display: inline;
    width: 35px;
    height: 30px;
    font-size: $font-size-medium;
    margin-left: 4px;
  }

  &--deals {
    padding: 0 10px;

    & ul {
      margin-left: 10px;

      & > li {
        margin-top: 8px;
        color: $color-soft-white;
        font-size: small;
        list-style:inside;
        text-align: left;
      }
    }
  }


}



  