.nav {
  margin: 0 auto 5px;
  width: 220px;
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
  align-self: end;
  & ul > li {
    list-style: none;
  }
  @media (max-width: 735px) {
    display: none;
  }

  &__menu {
    width: 540px;
    font-size: $font-size-default;
    margin-top: 8rem;

    @media (max-width: 735px) {
      display: none;
    }

    ul > li {
      list-style: none;
    }
  }
}
