.sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $color-soft-white;
  z-index: 100;
  padding: 40px 10px;
  top: 1px;
  @media (min-width: 520px) {
    display: none;
  }
  &--menu {
    left: -100vw;
    border-radius: 0 5px 5px 0;
    &--open {
      animation: openSidebarMenu 400ms ease-out;
      animation-fill-mode: forwards;
    }
  }
  &--cart {
    border-radius: 5px 0 0 5px;
    right: -100vw;
    &--open {
      animation: openSidebarCart 400ms ease-out;
      animation-fill-mode: forwards;
    }
  }

  &__cart {
    display: none;
    width: 90%;
    margin: 0 auto;

    &-list {
      max-height: 45vh;
      font-size: $font-size-default;
      overflow-y: scroll;
    }
  }

  &__nav-item {
    font-size: $font-size-large;
    list-style: none;
    margin-top: 20px;

    &:hover {
      color: honeydew;
    }
  }

  &__menu-list {
    list-style: none;
    font-size: $font-size-default;
    grid-column: 2 / 4;
    justify-self: end;
    grid-row: 4 / 5;
    margin-top: 5px;
  }
  &__menu-item {
  }
}
