@keyframes moveInRight {
  0% {
    transform: translateX(-50px);
  }

  60% {
    // transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(50px);
  }

  60% { 
    // transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

