@keyframes moveInRight {
  0% {
    transform: translateX(-50px);
  }

  60% {
    // transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    transform: translateX(50px);
  }

  60% {
    // transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  30% {
    opacity: 0.3;
    transform: translateY(6);
  }
  60% {
    opacity: 0.6;
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  25% {
    transform: scaleY(0.35);
    opacity: 0.35;
  }
  50% {
    transform: scaleY(0.75);
    opacity: 0.75;
  }
  75% {
    transform: scaleY(1.1);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes openSidebarMenu {
  from {
    left: -100vw;
    opacity: 0.25;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes closeSidebarMenu {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -100vw;
    opacity: 0;
  }
}

@keyframes openSidebarCart {
  from {
    right: -100vw;
    opacity: 0.25;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@keyframes closeSidebarCart {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -100vw;
    opacity: 0;
  }
}
