@keyframes moveInRight {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  from {
    transform: translateX(50px);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  25% {
    transform: scaleY(0.35);
    opacity: 0.35;
  }
  50% {
    transform: scaleY(0.75);
    opacity: 0.75;
  }
  75% {
    transform: scaleY(1.1);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes openSidebar {
  from {
    right: -320px;
  }
  to {
    right: 0px;
  }
}

@keyframes closeSidebar {
  from {
    right: 0px;
  }
  to {
    right: -320px;
  }
}
