
body {
  font-family: 'Nunito', sans-serif ;
}

.primary-title {
  font-size: $font-size-xxlarge;
  font-weight: 300;
  font-family: $font-Lato;
  margin: 8rem auto 4rem;
  border-bottom: 1px solid $color-dark-grey;
  width: fit-content;

  &--white {
    color: $color-soft-white;
  }
}
.secondary-title {
  font-size: $font-size-xlarge;
  font-weight: 300;
  margin: 6rem auto 4rem;
  border-bottom: 1px solid $color-dark-grey;
  width: fit-content;

}

.tertiary-title {
  font-size: $font-size-medium-large;
  margin: 1.5rem 0 .8rem;

  &--white {
    color: $color-soft-white;
  }
}
.quaternary-title {
  font-size: $font-size-large;
  font-family: 'Reggae one'; 
  
  &--white {
    color: $color-soft-white;
  } 
}

.fine-print {
  color: $color-text-primary;
  font-size: $font-size-small;

  &--white {
    font-size: $font-size-small;
    color: $color-soft-white;
  }
}
.miniscule-text {
  font-size: $font-size-miniscule;
}

// attach this to food item div as element -> BEM 
.item-price {
  font-size: $font-size-medium-large;
  color: $color-text-primary;
  padding: 10px 0 15px;

  &__amount {
    font-size: $font-size-large; 
  }
}


.nav-link {
  color: $color-text-primary;
  font-size: $font-size-default;
  transition: all 200ms;
}
.nav-link:hover {
  color: red;
}