// flex 

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-flex-btwn {
  display: flex;
  justify-content:space-between;
}

.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
.u-text-bold {
  font-weight: 700;
}
.u-text-italicize {
  font-style: italic;
}
.u-mt-5 {
  margin-top: 5px;
}
.u-mt-10 {
  margin-top: 10px;

}
.u-mt-40 {
  margin-top: 40px;
}
