// flex 

.u-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.u-text-center {
  text-align: center;
}

.u-mt-40 {
  margin-top: 4rem;
}
.u-mt-10 {
  margin-top: 10px;

}