// flex 

.u-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.u-text-center {
  text-align: center;
}
.u-mt-5 {
  margin-top: 5px;
}
.u-mt-10 {
  margin-top: 10px;

}
.u-mt-40 {
  margin-top: 40px;
}