.about-box {
  margin: 10rem auto;
  max-width: 900px; 
  display: flex;
  justify-content: center;
 
  &__img {
    background-image: url('../../img/founder.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 50%;
    animation: moveInRight 500ms ease-out;
    border-radius: 8px;
  }

  &__text-box {
    width: 50%;
    font-size: $font-size-default;
    align-self: center;
    background-color: rgb(238, 236, 236);
    // color: white;
    padding: 31px 20px;
    // border-radius: 8px;
    line-height: 27px;
    text-indent: 24px;
    animation: moveInLeft 500ms ease-out;

    & h3 {
      padding-bottom: 5px;
    }
  }
}

@media (max-width: 960px) {
  .about-box {
    flex-direction: column;
    margin: 5rem auto;
    
    &__img {
      animation: none;
      height: 360px;
      width: 100%;
      align-self: center;

    } 
    &__text-box {
      animation: none;
      width: 100%;
    }
  }

}


