.checkout {
  margin: 80px 0;
  font-size: $font-size-default;
  display: grid;
  grid-template-columns: minmax(400px, 680px) minmax(200px, 400px);
  column-gap: 20px;
  @media (max-width: 900px) {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, min-content);
    column-gap: 0;
  }
}
.product {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, minmax(75px, 25%)) repeat(3, 1fr) 80px;
  grid-template-rows: 50px min-content;
  grid-auto-rows: min-content;

  @media (max-width: 900px) {
    grid-column: 1 / -1;
  }
  @media (max-width: 600px) {
    font-size: $font-size-small;
    grid-template-columns: 75px 75px repeat(3, 1fr) 60px;
  }

  & > * {
    align-self: center;
  }

  &__details {
    justify-self: center;
    grid-column: 1 / span 2;

    // @media(max-width: 600px) {
    //   grid-column: 1 / 2;
    //   // justify-self: cent;
    // }
  }
  &__quantity {
    grid-column: 3 / 4;
    justify-self: center;
  }
  &__price {
    grid-column: 4 / 5;
    justify-self: center;
  }
  &__total {
    grid-column: 5 / 6;
    justify-self: center;
  }
  &__list {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
  }
  &__empty {
    font-style: italic;
    font-size: $font-size-default;
    font-weight: 300;
    list-style: none;
    margin: 40px auto;
    width: 200px;
  }

  &__item {
    padding: 10px;
    margin: 15px 0;
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
    border-bottom: 1px rgba(128, 128, 128, 0.527) solid;
    border-radius: 4px;

    display: grid;
    grid-template-columns: repeat(2, minmax(75px, 25%)) repeat(3, 1fr) 80px;
    grid-template-rows: repeat(4, max-content);
    align-self: start;

    @media (max-width: 900px) {
      // grid-template-columns: 100px ;
      font-size: $font-size-small;
    }
    @media (max-width: 600px) {
      padding: 0;
      font-size: $font-size-small;
      grid-template-columns: 75px 75px repeat(3, 1fr) 60px;
    }

    &-img {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      justify-self: center;

      @media (max-width: 600px) {
        justify-self: start;
      }
    }
    &-desc {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0 2px;
    }
    &-quantity {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      justify-self: center;
    }
    &-price {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      justify-self: center;
    }
    &-total {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      justify-self: center;
    }

    &-full {
      grid-column: 2 / 6;
      grid-row: 2 / 3;
    }
    &-left {
      grid-column: 2 / 6;
      grid-row: 3 / 4;
      margin-top: 2px;
      // justify-self: center;
    }
    &-right {
      grid-column: 2 / 6;
      grid-row: 4 / 5;
      margin-top: 2px;
    }
  }
}

.summary {
  min-width: 100px;
  padding: 20px;
  grid-column: 2 / -1;
  align-self: end;
  background-color: rgb(35, 36, 34);
  border-radius: 4px;

  @media (max-width: 900px) {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
  }
  @media (max-width: 700px) {
    grid-column: 2 / 9;
  }
  @media (max-width: 560px) {
    grid-column: 1 / -1;
  }

  &__title {
    text-align: center;
    color: $color-soft-white;
    font-size: $font-size-medium;
    font-weight: 400;
  }

  &__order-type-btn-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;

    & > button {
      font-size: $font-size-default;
      padding: 10px 8px;
      background-color: $color-soft-white;
      border-radius: 5px;

      &:hover {
        background-color: rgb(204, 211, 204);
      }
    }
  }

  &__info {
    margin: 40px 0;
    width: 100%;
    border-top: 1px rgba(175, 172, 172, 0.363) solid;
    color: white;
  }
  &__order-type {
    display: block;
    text-transform: capitalize;
    margin: 20px;
    text-align: center;
  }

  &__sub-total,
  &__tax {
    margin: 20px 0;
  }

  &__promo-box {
    margin-top: 30px;

    & input {
      border-radius: 4px;
      font-size: $font-size-default;
      width: 60%;
      min-width: 125px;
      height: 40px;
    }
  }

  &__total {
    border-bottom: 1px rgba(175, 172, 172, 0.363) solid;
    border-top: 1px rgba(175, 172, 172, 0.363) solid;
    padding: 15px 0;
    margin-top: 50px;
    font-size: $font-size-medium;
  }
}
