

.address-box {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: $font-size-small;
  line-height: 2.2rem;
  color: $color-soft-white;
}
.order-btn-box {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 0 auto;
}

// sizing for astericed text below deals links 
.coupon-condition {
  grid-column: 1 / 3;
}


